*{
    padding: 0;
    margin:0;
    box-sizing:  border-box;
    font-family: sans-serif;
    


}
body{
    background: crimson;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    


}
.card{
    width : 700px;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;

}


/* scroll bar:


*/

::-webkit-scrollbar{
    background-color: transparent;
    width:7px;


}


::-webkit-scrollbar-thumb{
    background: #fff;
    width: 15px;
    border-radius:100px;

    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}

